* {
  margin: 0;
  padding: 0;
  border: box-sizing;
}
body {
  font-family: sans-serif;
  background-image: url("bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.logo-section {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-left: 37%;
}
.logo-section img {
  align-items: center;
  width: 70%;
  margin-top: 5rem;
}

/* Log In CSS */
.form-login {
  color: white;
  position: absolute;
  display: inline-block;
  margin-left: 40%;
  margin-top: 18%;
  margin-right: 42%;
}
::placeholder {
  color: white;
}
.form-login input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  color: white;
  border: 1px solid rgb(0, 208, 255);
  background: gray;
  box-sizing: border-box;
  border-radius: 10px;
}
.forgot-password {
  text-decoration: none;
  color: white;
  margin-left: 52%;
}
.forgot-password:hover {
  color: rgb(0, 255, 0);
}
.form-button {
  margin-top: 10px;
  display: block;
  align-items: center;
  justify-content: center;
}
.form-button button {
  padding: 12px;
  border: 1px solid rgb(0, 208, 255);
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
  background: black;
  color: white;
}
.form-button button:hover {
  background: rgb(0, 208, 255);
  color: black;
  border: 1px solid white;
}
.form-button p {
  margin-left: 1.2rem;
}
.form-button a {
  color: white;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 3px;
}
.form-button a:hover {
  color: rgb(0, 255, 0);
}

.logo-sections {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-left: 37%;
}
.logo-sections img {
  align-items: center;
  width: 70%;
  margin-top: 2.8rem;
}

/* Sign Up CSS */

.form-signup {
  color: white;
  position: absolute;
  display: inline-block;
  margin-left: 40%;
  margin-top: 14%;
  margin-right: 42%;
}
::placeholder {
  color: white;
}
.form-signup input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  color: white;
  border: 1px solid rgb(0, 162, 255);
  background: gray;
  box-sizing: border-box;
  border-radius: 10px;
}
.signup-button {
  margin-top: 10px;
  display: block;
  align-items: center;
  justify-content: center;
}
.signup-button button {
  padding: 12px;
  border: 1px solid rgb(0, 208, 255);
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
  background: black;
  color: white;
}
.signup-button button:hover {
  background: rgba(0, 217, 255, 0.683);
  color: black;
  border: 1px solid white;
}
.signup-button p {
  margin-left: 5%;
}
.signup-button a {
  color: white;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 3px;
}
.signup-button a:hover {
  color: rgb(0, 255, 0);
}
